.intro-2 {
    background: url("../assets/images/traveling-background.jpg")no-repeat center center;
    background-size: cover;
}
.top-nav-collapse {
    background-color: rgba(216, 112, 147, 0.5);
} 

.navbar:not(.top-nav-collapse) {
    background-color: rgb(153, 126, 158);
}

.navbar {
    background-color: rgb(153, 126, 158, 0.85);
}

.hm-gradient .full-bg-img{
    background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);
    height: 38rem;
}

h6 {
    line-height: 1.7;
}

/*   Main ---> About me   */
#about-me .container-fluid{
    background: url("../assets/images/white-wood.jpg")no-repeat center center;
    background-size: cover;
}  

.photo {
    max-width: 12rem;
    border: 2px solid rgb(243, 207, 240);
    border-radius: 1rem;
    padding: 0.5rem;
}

.information{
    background-color: rgba(215, 177, 222, 0.6);
    border-radius: 1rem;
    border: 2px solid rgb(215, 177, 222);
}

h2 {
    color: rgb(79, 49, 82);
    font-size: 250%;
}

.information > p{
    color: rgb(91, 75, 94);
    font-size: 120%;
}

/*   Section ---> Projects   */
#projects, #tech-skills > .container-fluid{
    background: url("../assets/images/white-wood.jpg")no-repeat center center;
    background-size: cover;
} 

.card-project, #contact-me > .container-fluid {
    /* background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%); */
    background-color: rgba(190, 157, 196, 0.6);
}

/* .card-project-2{
    background: -webkit-linear-gradient(45deg, rgba(178, 30, 123, 0.4),rgba(83, 125, 210, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(96, 0, 136, 0.4)), to(rgba(29, 236, 197, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%); 
    background-color: rgba(190, 157, 196, 0.6);
} */

.text-project{
    color: rgb(91, 75, 94);
    font-size: 110%;
}


#project-img-jewel{
    background: url("../assets/images/jewel-shop.jpg")no-repeat center center;
}

#project-img-validator{
    background: url("../assets/images/card-validator.png")no-repeat center center;
}

#project-img-giphy{
    background: url("../assets/images/giphy.jpg")no-repeat center center;
}

#project-img-pokedex{
    background: url("../assets/images/pokedex.png")no-repeat center center;
}

h3, h5{
    color: rgb(91, 75, 94);
}

.item-chip{
    background:-webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.3), rgba(178, 30, 123, 0.3) 100%);
    color: rgb(91, 75, 94);
    margin: auto;
    border-radius: 0 1rem;
}

.item-chip:hover{
    color:rgb(234, 236, 104);
}

.btn{
    background-color: rgb(153, 126, 158);
}

.logo{
    max-height: 10rem;
}



@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: rgb(211, 135, 194, 0.6);
    }

    .photo {
        max-width: 10rem; 
    }

    .logo{
        max-height: 8rem;
        max-width: 6rem;
    }
}

